/* Using the substep plugin, hide bullet points at first, then show them one by one. */
#impress .step .substep {
    opacity: 0;
}

#impress .step .substep.substep-visible {
    opacity: 1;
    transition: opacity 1s;
}
/*
  Speaker notes allow you to write comments within the steps, that will not 
  be displayed as part of the presentation. However, they will be picked up
  and displayed by impressConsole.js when you press P.
*/
.notes {
    display: none;
}

/* Toolbar plugin */
.impress-enabled div#impress-toolbar {
    position: fixed;
    right: 1px;
    bottom: 1px;
    opacity: 0.6;
    z-index: 10;
}
.impress-enabled div#impress-toolbar > span {
    margin-right: 10px;
}
.impress-enabled div#impress-toolbar.impress-toolbar-show {
    display: block;
}
.impress-enabled div#impress-toolbar.impress-toolbar-hide {
    display: none;
}

/* If you disable pointer-events (like in the impress.js official demo), you need to re-enable them for the toolbar.
   And the speaker console while at it.*/
.impress-enabled #impress-toolbar         { pointer-events: auto }
.impress-enabled #impress-console-button  { pointer-events: auto }

/* Progress bar */
.impress-enabled .impress-progressbar {
  position: absolute;
  right: 318px;
  bottom: 1px;
  left: 118px;
  border-radius: 7px;
  border: 2px solid rgba(100, 100, 100, 0.2);
}
.impress-enabled .impress-progressbar DIV {
  width: 0;
  height: 2px;
  border-radius: 5px;
  background: rgba(75, 75, 75, 0.4);
  transition: width 1s linear;
}
.impress-enabled .impress-progress {
  position: absolute;
  left: 59px;
  bottom: 1px;
  text-align: left;
  opacity: 0.6;
}
.impress-enabled #impress-help {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    color: #EEEEEE;
    font-size: 80%;
    position: fixed;
    left: 2em;
    bottom: 2em;
    width: 24em;
    border-radius: 1em;
    padding: 1em;
    text-align: center;
    z-index: 100;
    font-family: Verdana, Arial, Sans;
}
.impress-enabled #impress-help td {
    padding-left: 1em;
    padding-right: 1em;
}