
#header {
  position: absolute;
  top: .5rem;
  left: 3rem;
}

#header span {
  color: rgb(100, 135, 195);
  font-weight: bold;
}


h1 {
  color: rgb(100, 135, 195);
  font-size: 2.2rem;
  font-weight: bold;
}

h1.line {
  border-bottom: 0.0625rem solid #C8C8C8;
}

h2 {
  text-align: right;
  margin-right: 100px;
  font-size: 1.9rem;
  margin-bottom: 20px;
    color: rgb(100, 135, 195);
  font-weight: bold;
}

p {
  font-size: 1.8rem;
  margin: 25px 0;
  margin-left: 60px;
  line-height: 2rem;
}

p.note {
  font-size: 1rem;
  color: #666;
}

/* this removes the bullet from ul elements */
ul {
  text-align: left;
  margin-left: 15%;
  font-size: 1.8rem;
}

ul.boring-list {
  list-style: disc;
}

/* forcing a width onto all steps */
.step {
  width: 900px;
}

/* this makes the bullet come back as '>' */
.substep:before {
  content: ">";
  font-weight: bold;
  padding-right: 3px;
}

.blue {
  color: rgb(100, 135, 195);
}

/* give all steps a light opacity by default */
.impress-enabled .step {
    opacity: 0.2;
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

/* bring steps up to full opacity when active */
.impress-enabled .step.active { 
  opacity: 1;
}


/*
  This selector will grab all substeps in a browser that
  is impress.js compatible, and set their opacity to zero.
  This also sets up any property change to be transitioned
  over 1 second
*/
.impress-enabled .substep {
  opacity: 0;
  -webkit-transition: all 1s;
  -moz-transition:    all 1s;
  -ms-transition:     all 1s;
  -o-transition:      all 1s;
  transition:         all 1s;  
}

/*
  if a substep gets set to active it will get an
  opacity of 1, transitioned over 1 second by the 
  previous selector 
*/
.impress-enabled .substep.active {
  opacity: 1;
}

/*
  when a substep has focus it is 'present'
  so we add some color to make it all fancy
*/
.impress-enabled .substep.present { 
  color: rgb(100, 135, 195);
}

/*
  this is just a silly animation for the 
  information overload text on the 
  non-substep example
*/
#non-substeps.present .overload {
  display: inline-block;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation: shazam 5s;
  -webkit-animation-iteration-count: 5; 
  -webkit-animation-delay: 3s;
}

/*
  actual animation function
*/
@-webkit-keyframes shazam {
  0% {-webkit-transform: scale(0.4, 0.4) rotate(0deg); opacity: 0.3;}
  50% {opacity: 1.0; }
  100% {-webkit-transform: scale(1.9, 1.9) rotate(359deg); opacity: 0;}
}

/* 
  just setting the div substep styles 
  to something interesting...
  containing div needs a forced height 
*/
#works-on-divs-too {
  height: 400px;
}

/*
  position the hidden divs off screen
*/
#works-on-divs-too div {
  font-size: 1.8rem;
  position: absolute;
  left: -500px;
}

/* 
  let them trainstion on screen when active 
*/
#works-on-divs-too div.active {
  position: relative;
  left: 0;
  margin-left: 15% 
}
