html { height: 100% }

body {
    height: 100%;

    overflow: hidden;
}

#impress {
    width: 0px;
    height: 0px;

    position: absolute;
    top: 50%; left: 50%;
}

#impress .scale {
    width: 0px;
    height: 0px;
    
    position: relative;
    
    -webkit-transform: scale(1);
    -webkit-transition: -webkit-transform 1s ease-in-out;
    -webkit-transform-origin: top left;
    
    -moz-transform: scale(1);
    -moz-transition: -moz-transform 1s ease-in-out;
    -moz-transform-origin: top left;
}

#impress .rotate {
    width: 0px;
    height: 0px;
    
    position: absolute; top: 0; right: 0; left: 0; bottom: 0;
    
    -webkit-transform: rotate(0);
    -webkit-transition: -webkit-transform 1s ease-in-out;
    -webkit-transform-origin: top left;
    
    -moz-transform: rotate(0);
    -moz-transition: -moz-transform 1s ease-in-out;
    -moz-transform-origin: top left;
}

#impress .step {
    position: absolute;
}

