/*
*
*   impress.js Website style.css
*   
*   copyright 2022 Janis Hutz
*
*
*/

body {
    background-color: #dcdcdc;
    /*TODO: Choose better font*/
    font-family: sans-serif;
}

::selection {
    background-color: #0000ff;
}


/*
    TITLE
*/

/* This is the tile element with the background image and the title */

.title {
    /* TODO: Add background image*/
    /* make div full width (well technically oversized and move it to -1% offset */
    display: block;
    width: 101vw;
    height: 130vh;
    margin-top: -0.5vh;
    margin-left: -0.5vw;
    text-align: center;
}

.title-content {
    position: relative;
    top: 20vh;
}

.title-buttons {
    position: relative;
    top: 40vh;
}

.type-animation {
    font-size: 500%;
    color: white
}


/* 
*
*   GENERAL ITEMS
*
*/

/* Buttons */
.button {
    display: inline-block;
    background-color: green;
    text-decoration: none;
    color: white;
    font-size: 150%;
    margin: 5px;
    font-weight: bold;
    padding: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 50px;
}

.button:hover {
    background-color: lightgreen;
}



/*
*
*   CONTENT BOX
*
*/

.content {
    width: 75vw;
    margin-left: 12.5vw;
}

.create {
    display: grid;
    justify-content: center;
    text-align: center;
}

/* This div will have crazy cool style, as this should represent that you can use (almost) all the CSS you want.*/
.create .crazy-styled {
    background-color: aqua;
}

.features {
    text-align: center;
}

.feature-item {
    display: inline-block;
    width: 40%;
    margin: 2%;
}


/* GETTING STARTED BOX AND CHILDREN */

.getting-started {
    margin-top: 5%;
    width: 100%;
    height: 50vh;
    text-align: center;
}

.big-text {
    font-size: 200%;
}